CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
/Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Visual Studio Code
/build*/
.vscode/
.cache/
.vs/
CMakeSettings.json

# Visual studio
out/
/vcpkg_installed
